.empty-content-404{
    padding: 120px 0;
    text-align: center;
}

.id-404 main article h1{
    text-align: center;
}
.id-404 main article h1::before{
    content: "";
    height: 260px;
    width: 260px;
    background-image: url("../img/404.svg");
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    background-position: center;
    background-size: contain;
}

.error404content{
    text-align: center;
    padding-bottom: 100px;
}
.error404content p{
    text-align: center;
    color: $gray-600;
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.error404Products {
    border-top: 1px solid $gray-300;
    padding-top: 80px;
}
.error404Products i{
    display: none;
}
.error404Products h3{
    text-align: center;
    padding: 0px 0 30px 0;
}

@media (max-width: 991px){
    .empty-content-404{
        padding: 100px 0;
    }
    .id-404 main article h1{
        font-size: 38px;
    }
    .id-404 main article h1::before{
        height: 220px;
        width: 220px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .error404content p {
        margin-bottom: 40px;
    }
}

@media (max-width: 575px){
    .empty-content-404{
        padding: 80px 0;
    }
    .id-404 main article h1{
        font-size: 34px;
    }
    .id-404 main article h1::before{
        height: 180px;
        width: 180px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .error404content{
        padding-bottom: 60px;
    }
    .error404content p {
        margin-bottom: 30px;
    }
    .error404Products {
        padding-top: 50px;
    }
}