.benefitBanner{
    padding: 60px 0;
    border-bottom: 1px solid $gray-300;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 80px;
}
.benefitBanner__item, .benefitBanner__data{
    display: flex;
    align-items: center;
}
.benefitBanner__picture{
    flex-shrink: 0;
    height: 66px;
    width: 66px;
    margin-right: 15px;
}
.benefitBanner__content{
    padding-left: 0px;
}
.benefitBanner__text{
    padding-left: 20px;
}
@media screen and (max-width: 991px){
    .benefitBanner{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 575px){
    .benefitBanner{
        padding: 30px 0;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-bottom: 40px;
    }
    .benefitBanner__picture{
        height: 44px;
        width: 44px;
    }
    .benefitBanner__text {
        padding-left: 10px;
        font-size: 14px;
    }
}