.brandSection{
    padding: 80px 0;
    border-top: 1px solid $gray-300;
}
.brandSection h1{
    text-align: center;
}
#brandWrapper{

}
#brandWrapper i{
    display: none;
}
#brandWrapper a{
    padding: 0;
    text-align: center;
    color: $gray-1000;
}
#brandWrapper a img{
    
}

@media (max-width: 991px){
    .brandSection{
        padding: 60px 0;
    }
}

@media (max-width: 575px){
    .brandSection{
        padding: 40px 0;
    }
}