.btn{
    height: 50px;
    padding: 0 25px;
    background: $teal-500;
    color: $white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border: 0;
    cursor: pointer;
    transition: 0.3s ease background, 0.3s ease color;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    border-radius: $border-radius-primary;
    line-height: 1;

    &:hover, &:active, &:focus{
        color: $white;
        background: var(--gray-1000);
        text-decoration: none;
    }
}
.btn-conversion{
    background: $teal-500;
    height: 52px;

    &:hover, &:active, &:focus{
        color: $white;
        background: var(--gray-1000);
        text-decoration: none;
    }
}

@media screen and (max-width: 991px){
    .btn{
        height: 48px;
    }
}


.btn.btn-ghost{
    height: 44px;
    font-size: 14px;
    border: 1px solid #F0F0F0;
    background: white;
    color: #333;
}