.order-delivery-payment-form{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.co-delivery-method, .co-payment-method{

}
h4.order-delivery, h4.order-payment{
    padding-bottom: 10px;
}
.shipping-billing-table{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.order-delivery-payment-form .radio-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-delivery-payment-form .radio-wrapper input {
    appearance: none;
    opacity: 0;
    position: absolute;
}
.order-delivery-payment-form .radio-wrapper label {
    margin: 0;
    flex-grow: 1;
    padding: 25px 20px;
    position: relative;
    cursor: pointer;
    margin: 0;
    display: flex;
    border: 1px solid $gray-300;
    align-items: center;
    line-height: 1;
    background: $white;
    border-radius: $border-radius-primary;
}
.order-delivery-payment-form .radio-wrapper label::before {
    content: "";
    background: transparent;
    height: 18px;
    width: 18px;
    display: flex;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid $gray-500;
    flex-shrink: 0;
}
.order-delivery-payment-form .radio-wrapper label::after {
    content: "";
    background: transparent;
    height: 10px;
    width: 10px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 24px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.payment-info{
    order: 10;
    display: flex;
    flex-direction: revert;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1;
}
.shipping-billing-name{
    font-weight: 400;
}
.payment-info .sublabel{
    font-size: 14px;
    /*
    border: 1px solid $gray-1000;
    padding: 5px 10px;
    */
    margin-top: 10px;
    display: none;
    line-height: 1.3;
    align-items: center;

    a{
        color: $gray-1000;
        line-height: 1;
    }
}
.radio-wrapper.active .sublabel{
    display: flex;
    width: 100%;
}
.payment-info .sublabel .chosen{
    border: 1px solid $gray-1000;
    padding: 5px 10px;
    margin-left: 15px;
}
.payment-info .sublabel-description {
    width: 100%;
}
.not-possible-info{
    width: 100%;
    font-style: normal;
    margin-top: 8px;
    font-size: 14px;
    color: $gray-500;
    display: none;
}
.order-delivery-payment-form .radio-wrapper label.inactive {
    opacity: 1;
    background: $gray-100;
    cursor: not-allowed;
    filter: grayscale(1);
}
.order-delivery-payment-form .radio-wrapper label.inactive .not-possible-info{
    display: flex;
}
.payment-shipping-price {
    color: $red-500;
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    order: 20;
    white-space: nowrap;
    padding-left: 10px;
}
.payment-shipping-price.for-free {
    color: $green-500;
    font-weight: 400;
}
.payment-logo {
    height: 25px;
    width: 40px;
    margin: 0 10px 0 0px;
    order: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: multiply;
}
#order-shipping-methods .show-tooltip {
    padding: 0px;
    position: relative;
    background: $teal-500;
    cursor: pointer;
    border-radius: 50%;
    color: $white;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CHECKED */
.order-delivery-payment-form .radio-wrapper input:checked+label::before {
    border: 2px solid $green-500;
}
.order-delivery-payment-form .radio-wrapper input:checked+label::after {
    background: $green-500;
}
.order-delivery-payment-form .radio-wrapper input:checked+label {
    background: $white;
    border: 1px solid $green-500;
    background: rgba($green-500,0.04);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    z-index: 2;
}
/* ---- */


#na-postu-form{
    margin-top: 20px;
}
#na-postu-form table{
    width: 100%;
}
#na-postu-result{
    order: 99;
}
#na-postu-legend{
    padding-top: 30px;
    background: $white;
    margin-top: 60px;
    border-top: 1px solid $gray-300;
    text-align: left;
}
#na-postu-legend p{
    text-align:left;
    font-weight: 500;
    padding-left: 5px;
}
#na-postu-wrapper{
    padding: 50px 30px 0px 30px;
    display: flex;
    flex-direction: column;
}
#na-postu-wrapper .na-postu-logos{
    display: flex;
    gap: 15px;
}

#na-postu-wrapper .ui-widget-content{
    position: relative !important;
    top: 0 !important;
    list-style: none;
    padding-left: 0;
    left: 0 !important;
    margin-top: 20px;
    border-top: 1px solid $gray-300;
    padding-top: 20px;
}
#na-postu-wrapper .ui-widget-content .ui-menu-item{
    cursor: pointer;
    text-align:left;
    background: $gray-100;
    padding: 8px 15px;
}
#na-postu-result .cpost-delivery-point-result-table{
    width: 100%;
}
#na-postu-wrapper .cpost-delivery-point-result-table td{
    text-align: left;
    padding: 5px;
}
#na-postu-wrapper .cpost-delivery-point-result-table .na-postu-symbols{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
#na-postu-wrapper .cpost-delivery-point-result-table .cpost-delivery-point-submit{
    text-align: right;
}
#na-postu-wrapper .cpost-delivery-point-opening-hours{
    display: none;
}
#na-postu-wrapper .cpost-delivery-point-opening-hours.active{
    display: block;
}
#na-postu-wrapper .cpost-delivery-point-result-table .cpost-delivery-point-submit .btn{
    height: 44px;
}
#na-postu-wrapper .cpost-delivery-point-opening-hours th,
#na-postu-wrapper .cpost-delivery-point-opening-hours td{
    padding: 0 3px;
    font-size: 14px;
}
@media screen and (max-width: 991px){
    #na-postu-wrapper{
        padding: 0;
    }
}
@media screen and (max-width: 575px){
    #na-postu-form table tr{
        display: flex;
        flex-direction: column;
    }
    #na-postu-form table tr .btn{
        width: 100%;
    }
}