#carousel{
    /*display: none;*/
}
.before-carousel{

}
.before-carousel .banners-row{
    margin: 0;
}
.wide-carousel{
    padding: 0;
}
.banners-row .col-sm-8, .banners-row .col-sm-4{
    width: 100%;
    padding: 0;
}

.carousel {
    position: relative;
    margin: 20px 0 0 0;
}
.slider-container{
    --swiffy-slider-item-gap: 20px;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: $gray-100;
    border-radius: $border-radius-primary;
}

.carousel .item{
    text-align: center;
    height: 440px;
}

/*
.carousel .item:first-child{
    display: flex;
}
*/


.carousel .item a{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}
.carousel .item img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.carousel .carousel-inner > .item:first-child{
    display: flex;
}

.carousel .carousel-inner > .item{
    display: none;
}

.extended-banner-texts{
    position: absolute;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    max-width: 500px;
}
.extended-banner-title{
    line-height: 1.4;
    font-size: 36px;
    font-family: $font-family-headings;
    font-weight: 500;
    text-transform: uppercase;
    color: $gray-1000;
    margin-bottom: 10px;
    text-align: left;
}
.extended-banner-text{
    color: $gray-600; 
    text-align: left;
    margin-bottom: 20px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0;
    background: rgba(0,0,0,0.3);
    text-align: center;
    background-repeat: repeat-x;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    transition: 0.3s ease opacity;
    opacity: 0;
    display: none !important;
}
#carousel:hover .carousel-control{
    opacity: 0.6;
}
.carousel-control.left {
    background-image: url($i-arrow-left-white);
}
.carousel-control.right {
    left: auto;
    right: 10px;
    background-image: url($i-arrow-right-white);
    transform: translateY(-50%);
}
.carousel-control:hover,.carousel-control:focus {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: 1;
}
.carousel-control.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}


.next-to-carousel-banners{
    display: flex;
    margin: 0 -10px;
    padding-bottom: 40px;
}

.next-to-carousel-banners .banner-wrapper{
    width: 50%;
    padding: 20px 10px 20px 10px;
    text-align: center;
}
.next-to-carousel-banners .banner-wrapper a{
    background: $gray-100;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-primary;
}


@media screen and (max-width: 991px){
    .wide-carousel{
        padding: 0;
    }
    .carousel {
        padding: 10px 5px;
    }
    .carousel-inner {
        border-radius: 0px;
    }
    .carousel-control {
        display: none;
    }
    .carousel .item{
        height: 400px;
    }
}
@media screen and (max-width: 991px){
    .carousel .item{
        height: auto;
    }
    .carousel .item a{
        flex-direction: column;
    }
    .extended-banner-texts{
        left: 0;
        bottom: 0;
        padding: 25px 20px 15px 20px;
        width: 100%;
        background: transparent;
        text-align: left;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
        max-width: 100%;
    }
    .extended-banner-text{
        display: none;
    }
    .extended-banner-title{
        font-size: 22px;
        color: white;
        margin: 0;
    }
    .extended-banner-texts .btn{
        display: none;
    }
}




.slider-item-show1 .slider-container>*{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


.slider-container li{
    display: flex;
    width: 100%;
    background: $gray-100;
    height: 620px;
  }
  .slide-content{
    flex-grow: 1;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: flex-start;
  }
  .slide-content h1{
      max-width: 50%;
        margin: 0;
  }
  .slide-content a{
    margin-top: 20px;
    background: $red-500;
}
.slide-content h1 span{
    background: $gray-100;
    display: inline;
    box-shadow: 20px 0 0 $gray-100;
    line-height: 1.4;
}
  .slide-img{
    width: 60%;
    position: absolute;
    right: 0;
    height: 100%;
  }
  .slide-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

@media screen and (max-width: 1300px){
    .slide-content{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .slide-img {
        width: 100%;
    }
    .slider-container li{
        height: 520px;
    }
    .slide-content h1{
        max-width: 70%;
    }
}


@media screen and (max-width: 991px){
    .slider-container li{
        height: 420px;
    }
    .slide-content h1{
        max-width: 100%;
        font-size: 26px;
    }
    .slide-content h1 span{
        line-height: 1.3;
    }
}

@media screen and (max-width: 575px){
    .slider-container li{
        height: 300px;
    }
}


.slider-container{
    width: 100%;
}
.slider-nav{
    filter: none;
    padding: 0;
    width: 30px;
    left: 10px;
}
.slider-nav.slider-nav-next{
    right: 10px;
    left: auto;
}
.slider-nav::before{
    background: white;
    border-radius: 0%;
    height: 64px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
    padding: 0;
    width: 100%;
    // outline: 1px solid $gray-300;
}
.slider-nav-arrow .slider-nav::after {
    height: 64px;
    width: 100%;
    background: $gray-900;
    mask-repeat: no-repeat;
    mask-position: center;
}
.swiffy-slider .slider-nav {
    visibility: visible;
    opacity: 0;
}
.mobile .swiffy-slider .slider-nav{
    display: none;
}
@media screen and (max-width: 575px){
    .swiffy-slider .slider-nav{
        display: none;
    }
}


.swiffy-slider:hover .slider-nav {
    opacity: 1;
}
 

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .swiffy-slider.slider-nav-scrollbar{
        --swiffy-slider-track-height: 3px;
    }
    .swiffy-slider.slider-nav-scrollbar:hover {
    
    }
    .swiffy-slider.slider-nav-scrollbar:hover .slider-container{
    
    }
    .swiffy-slider.slider-nav-scrollbar ::-webkit-scrollbar-track{
        background: #eee;
    }
    .swiffy-slider.slider-nav-scrollbar ::-webkit-scrollbar-thumb:horizontal {
        background: $gray-900;
    }

    .swiffy-slider.slider-nav-scrollbar .slider-container{
        padding-bottom: 20px;
    }
}


