.ordering-process .overall-wrapper{
    background-color: #C2C5D1;
}
.ordering-process #navigation,
.ordering-process #header::before {
    /*display: none;*/
}

.ordering-process #js-userToggle,
.ordering-process .search,
.ordering-process .nav-search,
body.--floatSearchActive .nav-search {
    display: none !important;
}

.ordering-process .header-top .contact-box {
    display: flex;
}

.ordering-process .cart-inner{
    padding: 0;
    background: $white;
    border-radius: $border-radius-primary;
    overflow: hidden;
}

.in-kosik.ordering-process .cart-inner{
    padding: 80px 50px;
    max-width: 840px;
    margin: 0 auto;
}
.in-kosik.ordering-process .cart-inner::before{
    content: "Nákupní košík";
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    color: $gray-900;
}

.ordering-process .content-inner{
    padding: 0;
}

.ordering-process #header {
    height: 90px;
}

@media screen and (max-width: 991px) {
    .ordering-process .overall-wrapper{
        background-color: $white;
    }
    .ordering-process #header {
        height: 52px;
    }

    .ordering-process .search {
        display: none !important;
    }
}


.in-kosik .cart-row {

    .col-md-8,
    .col-md-4 {
        width: 100%;
        top: 0 !important;
        padding: 0;
    }

}

.cart-row{
    margin: 0;
    display: grid;
    grid-template-columns: 7fr 3.5fr;
    grid-gap: 0px;
}
.in-kosik.ordering-process .cart-row {
    grid-template-columns: 1fr;
    grid-gap: 0;
}

#checkoutContent{
    padding: 0;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 60px 50px;
    background: $gray-100;
    background: #FFFFFF;
}
#checkoutSidebar{
    padding: 60px 40px;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background: $gray-100;
    top: 0 !important;
}

.cart-content {
    margin: 0;
}

#checkoutSidebar .cart-content {

}

.cart-content .next-step {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


#checkoutSidebarToggle {
    display: none;
}

@media screen and (max-width: 991px) {
    .cart-row{
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    .order-summary {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 11;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
        transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) transform;
        background: #fff;
        width: calc(100% - 52px);
        max-width: 400px;
        margin: 0;
        transform: translate3d(100%, 0, 0);
        padding: 0;

    }

    #checkoutSidebarToggle {
        display: flex;
        margin: 0 -10px;
        margin-bottom: 20px;
        border-radius: 0;

    }

    body.--checkoutSidebarActive .order-summary {
        transform: translate3d(0, 0, 0);
    }

    body.--checkoutSidebarActive .menu-helper,
    body.--checkoutSidebarActive .header-top::before {
        pointer-events: auto;
        opacity: 1;
    }

    #checkoutContent,
    #checkoutSidebar {
        width: 100%;
        padding: 0;
        background: transparent;
    }
}


.cart-inner .cart-content.checkout-box-wrapper {
    display: none;
}

.header-top {
    .contact-box {
        flex-direction: column;
        position: relative;
        padding-left: 32px;
        display: none;
        color: $gray-1000;
    }

    .contact-box::before {
        content: "";
        height: 20px;
        width: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url($i-phone);
        background-size: 100%;
    }

    .contact-box h4 {
        font-size: 18px;
        font-weight: 700;
        display: none;
    }

    .contact-box img,
    .contact-box strong {
        display: none;
    }

    .contact-box ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .contact-box ul a {
        color: $gray-1000;
    }

    .contact-box li {
        font-size: 15px;
        line-height: 24px;
    }

    .contact-box li:last-child,
    .contact-box li:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .header-top .contact-box {
        color: $gray-1000;
        padding-right: 15px;
        padding-left: 32px
    }

    .header-top .contact-box::before {
        background-image: url("../icons/phone.svg")
    }

    .header-top .contact-box li {
        line-height: 20px;
        font-size: 14px;
    }

    .header-top .contact-box ul a {
        color: $gray-1000;
    }
}


.back-shopping-link {
    display: none;
}



.cart-table {
    width: 100%;
}

.cart-table>tbody {
    display: grid;
    grid-gap: 1px;
}

.removeable {
    display: grid;
    grid-template-columns: auto 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 0;
    border-top: 1px solid $gray-300;
    
}
.removeable:last-child{
    border-bottom: 1px solid $gray-300;
}
.removeable td {
    display: flex;
    align-items: center;
}

.removeable .p-price.p-cell .p-label {
    display: none;
}

.removeable .cart-p-image {
    height: 80px;
    width: 80px;
    flex-shrink: 0;
}

.removeable .cart-p-image a {
    display: flex;
    background: $gray-100;
}

.removeable .cart-p-image a img {
    mix-blend-mode: multiply;
}

.removeable .p-name {}

.removeable .p-name a {
    color: $gray-1000;
    display: flex;
    flex-direction: column;
}

.removeable .p-name a .main-link-variant {
    font-size: 13px;
    color: $gray-500;
    padding-top: 3px;
}

.removeable .p-availability {}

.removeable .p-availability .p-label {
    display: none;
}

.removeable .p-availability .availability-label {
    padding: 0;
    font-weight: 400;
}
.removeable .p-availability .availability-label[style*="#sklad"] {
    color: $green-500;
}

.removeable .p-availability .availability-amount {}

.removeable .p-quantity .p-label {
    display: none;
}

.removeable .p-quantity {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}

.removeable .p-quantity .quantity {
    height: 100%;
    position: relative;
    display: flex;
    max-width: 110px;

    overflow: hidden;

    .increase,
    .decrease {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            background: $gray-500;
            height: 2px;
            width: 10px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &::after {
            height: 10px;
            width: 2px;
        }
    }
}

.removeable .p-quantity .quantity .decrease {
    left: 0;
    right: auto;

    &::after {
        content: none;
    }
}

.removeable .p-quantity .quantity .amount {
    height: 48px;
    padding: 0 10px;
    width: 100%;
    border: 1px solid $gray-300;
    text-align: center;
    font-size: 14px;
    border-radius: $border-radius-primary;
}

.removeable .p-price .price-final {
    font-weight: 400;
    ;
}

.removeable .p-total {
    display: flex;
    justify-content: space-between;
}

.removeable .p-total .p-label {
    display: none;
}

.removeable .p-total .price-final {}

.removeable .p-total .remove-item {
    font-size: 0;
    border: 0;
    background: $gray-100;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url($i-close);
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
    transition: 0.2s ease transform;
}

.removeable .p-total .remove-item:hover {
    transform: rotate(-90deg);
}



@media screen and (max-width: 991px) {
    .removeable {
        display: grid;
        grid-template-columns: 80px 20px 1fr;
        grid-template-rows: auto auto auto;
        padding: 10px;
    }
    .removeable .cart-p-image{
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .removeable .p-name {
        grid-column-start: 2;
        grid-column-end: 4;
        width: 100%;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .removeable .p-availability {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-top: -20px;
    }
    .removeable .p-quantity {
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .removeable .p-price {
        display: none;
    }
    .removeable .p-total{
        justify-content: space-around;
        grid-column-start: 3;
        grid-column-end: 3;
    }
    .p-name {}

    .p-cell {
        width: auto;
    }


    .p-availability {
        width: 100%;
    }

    .p-total {
        width: auto;
        flex-grow: 1;
    }

}




.related {
    display: none;
}

.cart-summary {
    padding: 20px 0 40px 0;
}

.cart-summary h4 {
    font-size: 15px;
    font-weight: 500;
}

.cart-content.summary-wrapper {}

.cart-content.summary-wrapper .price-wrapper {
    text-align: right;
    font-size: 18px;
    background: $gray-100;
    padding: 25px 20px;
    border-radius: $border-radius-primary;
}

.cart-content.summary-wrapper .price-wrapper .price {
    font-weight: 500;
}

.cart-content.summary-wrapper .next-step {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.next-step-back {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0 20px;
    color: $gray-500;
    font-weight: 500;
    border-radius: $border-radius-primary;
    order: 2;
    height: 48px;
    margin-top: 10px;

}




.order-summary {
    display: flex;
    flex-direction: column;
}

.order-summary .checkout-box {
    border: 1px solid $gray-300;
    padding: 30px 20px;
    margin-bottom: 20px;
    order: 2;
    background: $white;
}

.order-summary .checkout-box img {
    display: none;
}

.order-summary .checkout-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-summary .checkout-box .btn-block {
    background: transparent;
    color: $gray-1000;
    font-family: $font-family-headings;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0;
    height: auto;

    span {
        display: none;
    }

    br {
        display: none;
    }
}

.order-summary .checkout-box .contact-box strong {
    display: none;
}

.order-summary .checkout-box .contact-box li {
    padding: 5px 0;
}

.order-summary .checkout-box .contact-box a {
    color: $gray-1000;
}

.order-summary .checkout-box .contact-box .mail,
.order-summary .checkout-box .contact-box .tel {
    display: flex;
    align-items: center;
}

.order-summary .checkout-box .contact-box .mail::before {
    content: "";
    height: 18px;
    width: 18px;
    background-image: url($i-envelope);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 10px;
}

.order-summary .checkout-box .contact-box .tel::before {
    content: "";
    height: 16px;
    width: 16px;
    background-image: url($i-phone);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 10px;
}


.order-summary .order-summary-inner {

    margin-bottom: 40px;
    order: 1;
}

.order-summary .order-summary-inner h4 {
    font-family: $font-family-headings;
    font-size: 24px;
    font-weight: 500;
}

.order-summary .order-summary-inner .cart-items {}

.order-summary .order-summary-inner .cart-item {
    padding: 20px 0;
    border-bottom: 1px solid $gray-300;
    padding-left: 75px;
    position: relative;
    min-height: 100px;
}

.order-summary .order-summary-inner .cart-item>a {
    display: flex;
    float: left;
    height: 60px;
    width: 60px;
    margin-right: 15px;
    position: absolute;
    left: 0;
    background: $white;
}
.order-summary .order-summary-inner .cart-item>a img{
    mix-blend-mode: multiply;
}
.order-summary .order-summary-inner .cart-item-name {}

.order-summary .order-summary-inner .cart-item-name a {
    color: $gray-1000;
    font-size: 14px;
    font-weight: 500;
}

.order-summary .order-summary-inner .cart-item-amount {
    float: left;
}

.order-summary .order-summary-inner .unit-value {}

.order-summary .order-summary-inner .cart-item-price {
    text-align: right;
    font-weight: 500;
}

.order-summary-item.helper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: none;
}

.order-recapitulation {
    padding-top: 10px;
}

#shipping-billing-summary {
    /*display: none;*/
}

.recapitulation-single {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.cart-items .recapitulation-single:first-child {
    border-top: 1px solid $gray-300;
    padding-top: 20px;
}

.recapitulation-shipping-billing-label,
.recapitulation-single>span {
    font-size: 13px;
    font-weight: 500;
    color: $gray-500;
    padding-bottom: 2px;
}

.recapitulation-shipping-billing-info,
.recapitulation-single>strong {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.recapitulation-single>strong span {
    order: 10;
}

.order-summary-item.price {
    border-top: 2px solid $gray-100;
    padding-top: 20px;
    margin-top: 10px;
}

.order-summary-item.price .price-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 500;
    font-size: 17px;
}

.order-summary-item.price .price-wrapper .price.price-primary {
    color: $red-500;
}

@media screen and (max-width: 991px) {
    .order-summary {
        padding-left: 0px;
    }

    .order-summary .order-summary-inner {
        border: 0;
        margin-bottom: 0;
        padding: 10px;
        border: 0;
    }

    .order-summary .checkout-box {
        display: none;
    }
}





.cart-content .consents {
    font-size: 14px;
    padding-bottom: 20px;
}

#checkoutContent .form-group {
    max-width: 520px;
}

#checkoutContent h4 {
    padding-bottom: 0px;
    margin: 0;
    margin-bottom: 20px;
}

#checkoutContent .co-contact-information {
    margin-bottom: 40px;
}

#checkoutContent .co-contact-information h4+.form-group {
    background: $white;
    border: 1px solid $gray-300;
    border-radius: $border-radius-primary;
    max-width: 100%;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

#checkoutContent .co-contact-information h4+.form-group label {
    font-size: 0;
    display: flex;
    flex-direction: column;
    background-image: url($i-user);
    background-repeat: no-repeat;
    padding-left: 80px;
    background-size: 46px;
    background-position: center left;
    min-height: 46px;
    justify-content: center;
}

#checkoutContent .co-contact-information h4+.form-group label::before {
    content: "Už u nás máte zákaznický účet?";
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 2px;
}

#checkoutContent .co-contact-information h4+.form-group label::after {
    content: "Nemusíte nic vyplňovat a jednoduše se přihlaste.";
    font-size: 15px;
    font-weight: 400;
    color: $gray-500;
}

#checkoutContent .co-contact-information h4+.form-group a {
    font-size: 0;
    height: 46px;
    padding: 0 20px;
}

#checkoutContent .co-contact-information h4+.form-group a::before {
    content: "Přihlásit se";
    font-size: 15px;
}

@media screen and (max-width: 991px) {
    #checkoutContent .co-contact-information h4+.form-group {
        padding: 30px 30px;
    }

    #checkoutContent .co-contact-information h4+.form-group label {
        padding-left: 60px;
        background-size: 36px;
        min-height: 36px;
    }
}

@media screen and (max-width: 575px) {
    #checkoutContent .co-contact-information h4+.form-group {
        padding: 20px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    #checkoutContent .co-contact-information h4+.form-group label {
        padding-left: 60px;
        background-size: 36px;
        margin-bottom: 10px;
    }

    #checkoutContent .co-contact-information h4+.form-group a {
        margin-left: 60px;
        height: 42px;
    }

    #checkoutContent .co-contact-information h4+.form-group label::before {
        font-size: 16px;
    }

    #checkoutContent .co-contact-information h4+.form-group label::after {
        content: none;
    }
}





.site-msg-custom.step-1 {
    margin-bottom: 30px;
    background: $green-100;
    color: $green-800;
    padding: 8px 20px;
    text-align: center;
    border-radius: $border-radius-primary;
}

.site-msg-custom.step-1 p {
    margin: 0;
}

.cart-header.step-0+.content-wrapper-in .site-msg-custom.step-1 {
    margin: 0;
    margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
    .site-msg-custom.step-1 {
        line-height: 1.3;
        font-size: 14px;
        text-align: center;
        padding: 10px 15px;
    }
}

#submit-order {
    padding: 0 40px;
    height: 60px;
}

#submit-order .order-button-suffix {
    font-weight: 400;
    font-size: 13px;
    padding-top: 2px;
}