
.cart-header {
    position: relative;
    background: transparent;
    padding: 0;
    margin-bottom: 60px;
    display: flex;
    list-style: none;
    z-index: 1;
}
.cart-content .cart-header{
    display: none;
}

.cart-header::before {
    content: "";
    top: 0;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: $white;
    display: flex;
    position: absolute;
    z-index: -1;
}
.cart-header .step{
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-basis: 0;
}
.cart-header .step::marker{
    content: none;
}


.cart-header .step strong,.cart-header .step a {
    padding: 0 10px;
    height: 110px;
    color: $gray-1000;
    font-size: 15px;
    font-weight: 400;
    text-align: left;   
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; 
}

.cart-header .step::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background-image: url($i-arrow-down);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    right: 0;
    transform: rotate(-90deg) translateX(6px);
    top: 50%;
    opacity: .5
}
.cart-header .step:last-child::before{
    content: none;
}

.cart-header .step.active strong,.cart-header .step.completed a {
    color: $gray-1000;
    display: flex
}

.step::after,.step.completed::after,.step.active::after,.step.step-1::after,.step.step-2::after,.step.step-3::after,.step.step-4::after {
    content: none
}

.step a::before,.step strong::before {
    background: $gray-100;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    line-height: 1;
    color: $gray-1000;
    font-weight: 500;
    margin-right: 15px;
    flex-shrink: 0
}

.step.step-1 strong::before,.step.step-1 a::before {
    content: "1"
}

.step.step-2 strong::before,.step.step-2 a::before {
    content: "2"
}

.step.step-3 strong::before,.step.step-3 a::before {
    content: "3"
}

.step.step-4 strong::before,.step.step-4 a::before {
    content: "4"
}

.step.completed a::before {
    background: $green-500;
    color: $white;
}

.step.active strong::before {
    background: $gray-1000;
    color: $white;
}

@media screen and (max-width: 991px) {
    .cart-header {
        margin-bottom: 20px;
    }
    .cart-header::before{
        background: $gray-100;
    }
    .cart-header .step strong,.cart-header .step a {
        font-size:15px;
    }

    .cart-header .step::before {
        content: none;
    }
    .cart-header .step.step-4{
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .cart-header .step a,.cart-header .step strong,.cart-header .step.active strong,.cart-header .step.completed a {
        flex-direction:column;
        font-size: 14px;
        padding: 0 5px;
        line-height: 1.1
    }

    .step a::before,.step strong::before {
        margin: 0;
        margin-bottom: 5px;
        width: 32px;
        height: 32px
    }

    .cart-header .step strong,.cart-header .step a {
        height: 80px;
        text-align: center
    }
}