.cart-inner.cart-empty{
    padding: 0 0 110px 0;

}
.cart-empty .cart-heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.cart-empty .cart-heading::before{
    content: "";
    height: 240px;
    width: 240px;
    display: flex;
    background-image: url("../img/cart-empty.svg");
    margin-bottom: 30px;
    background-size: 100%;
}

.empty-cart-boxes{
    
}
.empty-cart-boxes ul{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.empty-cart-boxes li{
    width: 100%;
}
.empty-cart-boxes li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 10px;
    background: $white;
    border: 1px solid $gray-300;
    height: 100%;
}
.empty-cart-boxes .col-md-6{
    width: 100%;
}
.empty-cart-boxes .col-md-6:last-child{
    display: none;
}

.cart-empty .col-md-4 .cart-content{
    display: none;
}