.id-717  .content-inner{
    padding-top: 0;
}
.id-717  .news-item-detail h1 {
    position: relative;
    margin: 0;
    padding-top: 80px;
}
.id-717 .news-item-detail h1::before{
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: #fafafa;
    display: flex;
    position: absolute;
    z-index: -1;
}


.faqHeader {
    padding: 20px 0 80px 0;
    margin-bottom: 60px;
    margin-top: 0;
    position: relative;
}
.faqHeader::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: #fafafa;
    display: flex;
    position: absolute;
    z-index: -1;
}


.faqContent {
    max-width: 780px;
    margin: 0 auto;
    padding: 0px;
}
.faqHeader{
    background: #fafafa;
    padding: 40px;
    margin-bottom: 60px;
    text-align:center;
    font-size: 16px;
}
.faqHeader input{
    max-width: 400px;
    margin-top: 30px;
}
#FaqResult{

}
#FaqResult section{
    padding-bottom: 60px;
}
#FaqResult section h3{
    margin-bottom: 15px;
}
details{
    border: 1px solid #F0F0F0;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;
    transition: 0.3s ease all;
}
summary {
    position: relative;
    padding: 0px 0px 20px 0;
    margin-bottom: 0px;
    font-weight: 500;
    padding-right: 30px;
    line-height: 1.5;
  background: transparent;
  font-size: 16px;
  opacity: 0.8;
  color: #3c3c3b;

}
summary::marker{
    content: "";
}
summary::before, summary::after{
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    height: 2px;
    width: 10px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 0.3s ease transform;
    background: $gray-500;
}
summary::after{
    height: 10px;
    width: 2px;
    right: 4px;
    top: 6px;
}
details[open]{
  background: white;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.03);
  transform: translateY(-5px);
}
details[open] summary{
  opacity: 1;
}
details[open] summary::after{
    transform: rotate(90deg);
}
details p {
    padding-left: 0px;
    color: #6D6C79;
    margin: 0;
    margin-top: 0px;   
    margin-bottom: 30px;
    font-size: 15px;
    opacity: 0.9;
    line-height: 1.7;
    border: 0;
    padding: 0;
    opacity: 0;
    transition: 0.4s ease opacity;
}

.content-inner details p a strong{
  font-weight: 400;
}
details[open] p{
opacity: 1;
}
