.favoriteCategories{
    padding-bottom: 60px;
}
.favoriteCategories__title{
    text-align: center;
    padding: 0px 0 30px 0;
    margin: 0;
}
@media (max-width: 62rem){
    .favoriteCategories .swiffy-slider{
        --swiffy-slider-item-count: 1;
    }
}
.favoriteCategories__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 0px;
    overflow: auto;
}
.favoriteCategories__single{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: $gray-100;
    position: relative;
    height: 300px;
    /*min-width: 220px;*/
}
.favoriteCategories__single picture{
    position: relative;
    height: 100%;
    width: 100%;
}
.favoriteCategories__single img{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}   
.favoriteCategories__single h4{
    color: $gray-1000;
    font-size: 15px;
    margin: 0;
    padding: 0 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 991px){
    .favoriteCategories .slider-container{
        scroll-snap-type: none;
    }
}

@media (max-width: 575px){
    .favoriteCategories__title{
        font-size: 22px;
        padding-bottom: 20px;
        line-height: 1;
    }
    
}