.filters-wrapper{
    
}
#filters{
    display: flex;
    flex-direction: column;
    position: fixed;
    background: white;
    padding: 20px;
    right: 0;
    top: 0;
    height: 100vh;
    width: calc(100% - 52px);
    max-width: 400px;
    transform: translateX(100%);
    transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) transform;
    z-index: 11;
    gap: 40px;
    overflow: auto;
}
body.filters-visible #filters{
    transform: translateX(0%);
}
body.filters-visible .menu-helper, body.filters-visible .header-top::before{
    pointer-events: auto;
    opacity: 1;
}

.filters-unveil-button-wrapper{
    width: 100%;
    height: 44px;
}
.filters-unveil-button-wrapper .unveil-button{
    height: 44px;
    font-size: 14px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.filters-unveil-button-wrapper .unveil-button::after {
    content: "";
    background: url("../icons/filter-white.svg");
    height: 14px;
    width: 14px;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
}
.filter-sections{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
#filters .slider-wrapper{
    display: none;
}
#price-filter-form{
    display: none;
}
.filter-section-button{
    display: none;
}
.filter-section {
    padding-bottom: 40px;
}
.filter-section label{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
.filter-section label .filter-count{
    margin-left: 10px;
    background: $gray-100;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-900;
}
.filter-section fieldset > div{
    padding: 8px 0;
    display: flex;
}
#filters h4{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px
}
