.floating-bar{
    display: none;
}
@media (max-width: 991px){
    body.--floatBarActive .floating-bar{
        transform: translateY(0%);
        pointer-events: auto;
    }
    .floating-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 52px;
        left: 0;
        width: 100%;
        background: white;
        z-index: 9;
        padding: 10px;
        transition: 0.3s ease transform;
        transform: translateY(-100%);
        pointer-events: none;
        border-bottom: 1px solid $gray-300;
        box-shadow: 0px 4px 9px rgba(52, 66, 81, 0.05);
    }
    .floating-product-content{
        display: flex;
        flex-direction: column;
    }

    .floating-product-name{
        font-size: 15px;
        font-weight: 500;
    }
    .floating-product-price{
        font-size: 15px;
        font-weight: 500;
        color: $red-500;
    }
    .floating-bar .btn{
        height: 42px;
        padding: 0 20px;
    }
}
