footer {
    background: $gray-100;
    display: flex;
    flex-direction: column;
    padding: 0px 0 0 0;
}
.footer-links-icons{

}
.footer-rows{

}
.footer-rows .site-name{
    display: none;
}

.custom-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px solid $gray-300;
    grid-gap: 20px;
    width: 100%;
}
.custom-footer > div{
    
}
.custom-footer > .extended, .custom-footer > div:first-child{
    grid-column: 1 / 5;
}
.custom-footer>.extended, .custom-footer>div:nth-child(2) {
    grid-column: 1 / 5;
}

.custom-footer h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: $font-family-headings;
    color: $gray-1000;
}
.custom-footer > div  ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.custom-footer > div  ul > li{
    line-height: 1.8;
}
.custom-footer > div  ul > li a{
    font-weight: 400;
    font-size: 14px;
    color: $gray-500;

    &:hover, &:active, &:focus{
        text-decoration: underline;
    }
}

.custom-footer .news-item-widget{
    padding-bottom: 0px;
    line-height: 1.8;
}   
.custom-footer .news-item-widget:last-child{
    padding-bottom: 0px;
} 
.custom-footer .news-item-widget h5{
    margin: 0;
}
.custom-footer .news-item-widget h5 a{
    font-weight: 400;
    font-size: 14px;
    color: $gray-500;
}
.custom-footer .news-item-widget time{
    font-size: 13px;
    font-weight: 500;
    display: none;
}


.instagramSection{
    padding-bottom: 60px;
}
.instagramSection__title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
#instagramSectionContent{

}
#instagramSectionContent .instagram_gallery{
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
}
#instagramSectionContent .instagram_gallery a{
    overflow: hidden;
    padding: 5px;
    width: 12.5% !important;
    margin: 0 !important;
}
#instagramSectionContent .instagram_gallery a img{
    border-radius: $border-radius-primary;
    font-size: 0;
}
@media screen and (max-width: 991px){
    .instagramSection{
        padding-bottom: 15px;
    }
    #instagramSectionContent .instagram_gallery a{
        width: 25% !important;
    }
}

.footer-bottom{
    display: flex;
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
    border-top: 1px solid $gray-300;
}
#signature{

}
#signature a{
    color: $gray-1000;    
}
#signature a:first-child{
    margin-right: 6px;
    width: 22px;
    height: 22px;
}
#signature::after{
    content: '& Jan Heder';
    padding-left: 5px;
}
#signature img{
    height: 18px;
    filter: grayscale(1);
    margin-top: -5px;
}
.copyright{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.copyright strong{
    padding-left: 5px;
    font-weight: 400;
}

.footer-banners{
    margin: 40px 0;
}
.footer-banner{
    text-align: center;
}

@media screen and (max-width: 991px){
    footer {
        padding: 60px 0 0 0;
    }
    .custom-footer > .extended{
        width: 100%;
    }
    .footer-rows .custom-footer > div > h4, .footer-rows .banner-wrapper h4{
        font-size: 18px;
    }
    .footer-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright{
        display: inline-block;
        padding-top: 10px;
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .custom-footer{
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }
    .custom-footer > div  ul{
        margin-bottom: 20px;
    }
    .custom-footer > .extended, .custom-footer > div:first-child{
        grid-column: 1 / 3;
    }
    .custom-footer>.extended, .custom-footer>div:nth-child(2) {
        grid-column: 1 / 3;
    }
    footer {
        padding: 40px 0 0 0;
    }
    .footer-bottom{
        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .custom-footer h4{
        margin: 0px;
        border-top: 1px solid $gray-300;
        padding: 25px 0;
        line-height: 1;
        position: relative;
    }
    .custom-footer h4::after{
        content: "";
        position: absolute;
        right: 0;
        top: 30px;
        height: 12px;
        width: 12px;
        display: flex;
        background-image: url("../icons/arrow-down.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: 0.2s ease transform;
    }
    .custom-footer h4 ~ * {
        display: none;
    }
    .custom-footer h4.--active{
        padding-bottom: 15px;
    }
    .custom-footer h4.--active ~ * {
        display: flex;
        flex-direction: column;
    }
    .custom-footer h4.--active::after{
        transform: rotate(180deg);
    }
}






.footer-payment-methods{
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 40px 0 60px 0;
    border-bottom: 1px solid #F0F0F0;
    flex-wrap: wrap;
}
.footer-payment-methods-col{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.footer-payment-methods-col h4{

}
.footer-payment-methods-content{
    display: flex;
    overflow-x: auto;
    max-width: 100%;
}
.footer-payment-methods-single{
    background: white;
    padding: 13px 20px;
    margin-right: 10px;
    line-height: 1;
}
@media screen and (max-width: 768px){
    .footer-payment-methods{
        display: flex;
        flex-grow: 1;
        width: 100%;
        padding: 40px 0 60px 0;
        border-bottom: 1px solid #F0F0F0;
    }
    .footer-payment-methods-col{
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-payment-methods-col:last-child{
        margin-top: 20px;
    }
}