::placeholder {
  color: $gray-500;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-control {
  font-size: 15px;
  font-weight: 400;
  background: $white;
  border: 1px solid $gray-300;
  height: 50px;
  padding: 0 20px;
  width: 100%;
  border-radius: $border-radius-primary;
}

.form-group label {
  padding-bottom: 5px;
}

textarea.form-control {
  padding: 20px;
  min-height: 100px;
}

.js-validator-msg.msg-error {
  display: none;
}

.error-field,
.js-error-field {
  border-color: red;
}

.js-validator-msg.msg-info,
.js-validator-msg.msg-error {
  background: yellow;
  position: absolute;
  left: 100%;
  top: 0;
  display: flex !important;
  flex-shrink: 0;
  width: 200px
}




#checkoutContent .form-group {
  position: relative;
  margin-bottom: 30px;


}

/*
#checkoutContent .form-group label:not([for="login"]), input:not([type="checkbox"]) + label{
    position: absolute;
    left: 15px;
    top: 17px;
    padding: 0 5px;
    transition: 0.2s ease all;
    transform-origin: top left;
    line-height: 1;
    pointer-events: none;
    color: $gray-500;
}
#checkoutContent .form-group.--activeFocus label, #checkoutContent .form-group.--activeFilled label, #checkoutContent .form-group.populated label{
    background: white;
    transform: translateY(-24px);
    pointer-events: auto;
    font-size: 12px;
}
*/


.form-group label[for="billCountryId"] {
  display: none;
}



.form-group input[type="checkbox"]+label {
  position: relative;
  top: 0;
  left: 0;
  transform: none !important;
  font-size: 15px !important;
  pointer-events: auto;
}

#shipping-address {
  width: 520px;
  border: 1px solid #F0F0F0;
  padding: 40px;
  padding-bottom: 20px;
}

#shipping-address h4 {
  display: none;
}




.js-phone-form-group label {
  left: 100px !important;
}

.phone-combined-input .country-flags {
  margin-right: 10px;
}

@media (min-width: 480px) {
  .phone-combined-input {
    max-width: none;
    flex-grow: 1;
  }
}

.phone-combined-input input {
  width: 100%;
  flex-shrink: 1;
}

.country-flags,
.country-flags-inner {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  border: 1px solid $gray-300;
}

.country-flags.active .country-flags-inner {
  height: 300px !important;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}

.country-flags.active .country-flag.selected {
  margin: 0;
  position: relative;
  left: 0;
  right: 0;
  border-bottom: 0;
}

.country-flag.selected,
.country-flags.active .country-flag {
  margin: 0;
  width: 100%;
}

.country-flag {
  flex-shrink: 0;
}


.form-group-tooltip {
  float: left;
  background: $white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#vatId-description {
  font-size: 14px;
  padding-left: 10px;
  display: block;
  margin-top: 10px;
  position: relative;
  height: auto;
  width: auto;
  color: $gray-500;
}