#header{
    background: $white;
    //position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $gray-300;

}
#header .container.navigation-wrapper{

}

@media screen and (max-width: 991px){
    #header {
        height: 106px;
        border: 0;
        background: $red-500;
    }
    #header .container {
        padding: 0;
    }
}

