.homepage-group-title{
    text-align: center;
    padding: 0px 0 30px 0;
    margin-top: 80px;
}


.homepage-group-title a{

}
@media (max-width: 991px){

}
@media (max-width: 575px){
    .homepage-group-title{
        font-size: 22px;
        padding-bottom: 20px;
        line-height: 1;
    }
    
}