
#cboxOverlay, #colorbox{
    display: none;
}

#cboxOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: rgba(0,0,0,0.5);
    display: flex;
}

#colorbox{
    background: $white;
    z-index: 10;
    display: flex;
    border-radius: $border-radius-primary;
}
#colorbox > #cboxWrapper{
    position: relative;
}

@media screen and (max-width: 991px){
    #cboxOverlay{
        z-index: 20;
    }
    #colorbox{
        z-index: 21;
        bottom: 0 !important;
        width: 100% !important;
        left: 0 !important;
        top: auto !important;
        position: fixed !important;
        height: 90vh !important;
        transform: translateY(100%);
        transition: 0.2s ease transform;
        display: flex !important;
        opacity: 1 !important;
    }
    #colorbox[style*="display: block"]{
        transform: translateY(0%);
    }
    #colorbox>#cboxWrapper{
        width: 100% !important;
        height: 100% !important;
    }
    #colorbox>#cboxWrapper > div{
        height: 100%;
    }
        #colorbox>#cboxWrapper > div:first-child{
        display: none;
    }

    #cboxContent, #cboxLoadedContent{
        width: 100% !important;
        height: 100% !important;
    }
    #colorbox > #cboxWrapper .cboxPhoto{
        height: 100% !important;
        width: 100% !important;
        object-fit:contain;
    }
}

.content-modal{
    padding: 50px 20px;
}
.content-modal h1{
    font-size: 30px;
}


.shipping-options-popup{

}
.shipping-options-popup p{
    margin-bottom: 30px;
}
.shipping-row{
    display: flex;
    padding: 10px;
    margin-bottom: 2px;
    background: $gray-100;
    line-height: 1;
    align-items: center;
    min-height: 46px;
}
.shipping-options-popup .extra.delivery{
    margin-top: 40px;
    margin-bottom: 0 !important;
}
