.navigation-buttons{
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
@media screen and (max-width: 991px){
    .navigation-buttons{
        flex-grow: 1;
        justify-content: flex-end;
        flex-direction: row;
        background: $white;
        flex-wrap: nowrap;
    }
}
.cart-count{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: transparent;
    color: $white;
    background: $teal-500;
    padding: 0;
    line-height: 1.2;
    height: 46px;
    padding: 0 20px 0 48px;
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    border-radius: $border-radius-primary;

    &::before{
        content: "";
        height: 20px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 20px;
        background-image: url($i-shopping-bag-white);
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: contain;
        transform: translate(0%, -50%);
        background-position: center;
    }

    &:hover, &:focus, &:active{
        text-decoration: none;
        background: $green-600;
    }
}
@media screen and (min-width: 992px){

    /*fix layout shift*/
    
    .cart-count{
        margin-left: 153px;
    }
    #js-userToggle + .cart-count{
        margin-left: 10px;
    }
}

.cart-count.full .cart-price{
    display: flex;
}
.cart-count .sr-only{
    width: 100%;
    font-size: 14px;
    display: none;
}
.cart-count .cart-price{
    color: $white;
    font-weight: 400;
}
.cart-count i{
    position: absolute;
    font-style: normal;
    font-size: 11px;
    background: $white;
    border: 1px solid $teal-500;
    color: $gray-1000;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    left: 28px;
    top: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

@media screen and (max-width: 991px){
    .cart-count .sr-only, .cart-count .cart-price, .cart-count.full .cart-price{
        display: none;
    }
    .cart-count{
        height: 42px;
        width: 42px;
        padding: 0;
        margin: 0;
        margin-right: 10px;

        &::before{
            top: 50%;
            left: 50%;
            height: 22px;
            width: 22px;
            transform: translate(-50%, -50%);
            background-image: url($i-shopping-bag-white);
        }
    }
    .cart-count i{
        left: 22px;
        border-width: 2px;
    }
}



.nav-user{
    width: auto;
    height: 50px;
    flex-shrink: 0;
    border-radius: $border-radius-primary;
    background-image: url($i-user);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center left 20px;
    margin: 0 10px 0 10px;
    transition: 0.2s ease background-color;
    cursor: pointer;
    font-size: 15px;
    color: $gray-1000;
    padding: 0 20px;
    padding-left: 50px;
    display: flex;
    align-items: center;

    &:hover, &:active, &:focus{
        background-color: $gray-100;
    }
}
.nav-search{
    width: 50px;
    height: 50px;
    background-image: url($i-search);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    margin: 0 10px;
    display: flex;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 991px){
    .nav-user, .nav-search{
        display: flex;
        height: 52px;
        width: 52px;
        margin: 0;
    }
    .nav-user{
        background-image: url($i-user);
        font-size: 0;
        padding:0;
        width: 52px;
        background-position: center;

        &:hover, &:active, &:focus{
            background-color: transparent;
        }
    }
    
    .nav-search{
        display: flex;
        background-image: url($i-search-white);
        display:none;
    }
    .nav-search.--active{
        background-image: url("../icons/close.svg");
    }
}