.type-detail{

}
.type-detail .tooltip {
    display: none !important;
}

.p-detail{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.p-detail-inner{
    padding: 0px 0 60px 0;
    height: 100%;
}
@media screen and (max-width: 991px){
    .p-detail{
        padding: 0;
    }
    .p-detail-inner{
        padding: 0px 0 20px 0;
    }
}
.p-detail-inner > .p-detail-inner-header{
    display: none;
}
.browse-p{
    order: 10;
}
.p-detail-tabs-wrapper{
    order: 20;
}

.p-detail-inner-header{
    order: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    width: 100%;
}
.p-detail-inner-header h1{
    width: 100%;
    order: 0;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 30px;
}
.p-detail-inner-header .p-code{
    display: flex;
    order: 2;
    font-size: 13px;
    padding: 0 20px 0 0;
}
.p-detail-inner-header .p-code-label{
    padding-right: 2px;
}
.p-detail-inner-header div:nth-child(3){
    order: 3;
    font-size: 13px;
}
.p-detail-inner-header .stars-wrapper{
    margin: 0;
    order: 1;
}
.p-detail-inner-header .flags{
    display: none;
}

@media screen and (max-width: 500px){
    .p-detail-inner-header .stars-wrapper{
        width: 100%;
    }
    .p-detail-inner-header .p-code {
        padding: 10px 10px 0 0;
    }
    .p-detail-inner-header div:nth-child(3) {
        padding-top: 10px;
    }
}

#product-detail-form{

}
.product-top{
    position: relative;
}
@media screen and (max-width: 991px){
    .product-top{
        margin: 0 -10px;
    }
}

.p-detail-info{
    z-index: 1;
    position: absolute;
}
.p-detail-info :not(.flags){
    display: none;
}
.p-detail-info .flags{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.p-detail-info .flag{
    margin-bottom: 5px;
    padding: 0 10px;
    height: 24px;
    background: $white;
    white-space: nowrap;
    color: $gray-1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

    &.flag-action{
        background: $red-500;
        color: $white;
    }
    &.flag-new{
        background: $green-500;
        color: $white;
    }
    &.flag-tip{
        background: $gray-100;
        color: $gray-1000;
    }
    &.flag-gift{
        background: $gray-900;
        color: $white;
    }
    &.flag-custom3{
        background: $gray-900;
        color: $white;
    }
}

.p-detail-info .flag .price-standard{
    display: none;
}
.p-image .flag-discount .price-save{
    position: absolute;
    right: 40px;
    top: 10px;  
    padding: 10px;  
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    background: $red-500;
    border-radius: $border-radius-primary;
}
.p-image .flag-discount .price-save span{
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    background: $orange-700;
}
.p-image .flag-discount .price-save span.default-variant{
    display: flex;
}
.p-image .flag-discount .price-save span.default-variant.no-display{
    display: none;
}
.p-image .flag-discount .price-standard{
    display: none !important;
}

.stars-wrapper{
    order: 4;
    margin-bottom: 10px;
    display: flex;
}
.stars-wrapper .stars-label{
    padding-left: 5px;
    font-size: 13px;
    color: $gray-700;
    font-weight: 400;
    align-items: center;
    display: flex;
}
.p-image-wrapper{
    padding-right: 30px;
    width: 60%;
}
.p-image{
    border-radius: $border-radius-primary;
    overflow: hidden;
    background: $gray-100;
    padding: 30px 0;
}
.p-image >div{

}
.p-image a{
    background: $gray-100;
}
.p-image a img{
    mix-blend-mode: multiply;
}
.p-image .mousetrap{
    
}
@media screen and (max-width: 991px){
    .p-image .mousetrap{
        display: none;
    }
}
.p-thumbnails-wrapper{
    margin-top: 15px;
}
.p-thumbnails-inner{
    overflow: hidden;
}
.p-thumbnails-inner > div{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;

}
.p-thumbnails-inner>div .cbox-gal{
    display: none;
}
.p-thumbnail{
    position: relative;
    display: block;
    padding: 0px;
    width: 100%;
}
.p-thumbnail img{
    min-width: 100%;
}
.thumbnail-prev, .thumbnail-next{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0,-50%);
    height: 36px;
    width: 36px;
    background-color: rgba($black, 0.6);
    cursor: pointer;
    display: none;
}
.thumbnail-next{
    left: auto;
    right: 10px;
}
.p-thumbnails-indicators{
    display: none;
}

@media screen and (max-width: 991px){
    .p-thumbnails-wrapper{
        margin-top: 5px;
    }
    .p-image-wrapper{
        width: 100%;
        padding: 0px;
    }
}
@media screen and (max-width: 500px){
    .p-image-wrapper{
        padding: 0px;
        background: $gray-100;
    }
    .p-detail-info .flags{
        left: 0;
    }
    .p-image.--noDisplay{
        display: none !important;
    }
    .p-image.--noPointerEvents{
        pointer-events: none !important;
    }
    .p-thumbnails-wrapper{
        margin: 0;
        padding: 0;
    }
    .p-thumbnail{
        padding: 0px;
        width: 100%;
        background: $gray-100;
    }
    .p-thumbnail img {
        mix-blend-mode: multiply;
    }
    .p-thumbnails-indicators{
        bottom: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }
    .p-thumbnails-indicator{
        height: 8px;
        width: 8px;
        background: rgba($black,0.2);
        margin: 3px;
        border-radius: 50%;
        transition: 0.3s ease background;
    }
    .p-thumbnails-indicator.active{
        background: $black;
    }
}



.p-info-wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 40%;
    align-items: flex-start;
}
@media screen and (max-width: 991px){
    .p-info-wrapper{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }
}

.p-info-wrapper > p{
    display: none;
}
.p-info-wrapper > p > a{
}
.p-info-wrapper .detail-parameters{
    width: 100%;
    margin-bottom: 0px;
}
.p-final-price-wrapper{
    order: 30;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.p-final-price-wrapper .price-standard{
    text-decoration: line-through;
    color: $gray-700;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}
.p-final-price-wrapper .price-standard > span{
    padding-right: 10px;
}
.p-final-price-wrapper .price-standard > span.empty{
    display: none;
}
.p-final-price-wrapper .price-save{
    display: none;
}
.price-final{
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.price-code-holder{
    color: white;
    background: $red-500;
    padding: 5px;
    line-height: 1;
    position: relative;
    font-size: 13px;
    margin-bottom: 5px;
}
.price-code-holder::after {
    z-index: 1;
    content: '';
    position: absolute;
    bottom: -6px;
    left: 6px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $red-500;
}
.price-additional{
    font-size: 14px;
    color: $gray-700;
}
.price-final-holder{
    color: $gray-900;
    font-size: 24px;
    font-weight: 500;
}
.price-final-currency{
    font-size: 18px;
}
.price-final-dph{

}
.price-final .price-final-pre{
    font-size: 18px;
}
.price-measure{

}
.availability-value{
    font-size: 15px;
    font-weight: 400;
    color: $green-500;
    padding: 0;
    display: flex;
    order: 20;
    margin-bottom: 40px;
    width: 100%;
    padding: 0;
}
.availability-value .parameter-dependent{
    width: 100%;
    display: flex;
}
.availability-value .parameter-dependent.no-display{
    display: none;
}
.availability-label {
    display: flex;
    padding-right: 5px;
    line-height: 1;
    align-items: center;
    flex-grow: 1;
    
    &::before{
        content: "";
        display: flex;
        height: 16px;
        width: 16px;
        margin-right: 10px;
        background-image: url("../icons/check-circle-green.svg");
        background-size: contain;
        background-repeat: no-repeat;
        align-items: center;
    }
}
.default-variant .availability-label::before{
    content: none;
    color: $green-900;
}
.availability-amount{
    font-size: 14px;
    font-weight: 600;
    color: $green-900;
    line-height: 1;
}
.availability-value .choose-variant.no-display{
    display: none;
}
.availability-value .choose-variant{
    display: flex;
}
.shipping-options{
    display: none;
}
.availability-value .shipping-options {
    display: flex;
    color: $gray-500;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    text-transform: none;
}
.detail-parameters{
    display: flex;
    order: 15;
    width: 50%;
    margin: 0;
}
.detail-parameters tbody{
    width: 100%;
}
.variant-list{
    display: flex;
    flex-direction: column;
    padding: 0px 0 20px 0;
}
.variant-list th{
    padding-bottom: 5px;
    display: flex;
    width: 100%;
    font-weight: 500;
}
.variant-list select{
    width: 360px;
    font-weight: 400;
    max-width: 100%;
    background: $white;
    height: 48px;
    padding: 0 15px;
    border: 1px solid $gray-300;
    -webkit-appearance: none;
    background-image: url("../icons/arrow-down.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    border-radius: 0;
}
.variant-list select::-ms-expand{
    display: none;
}
.variant-list select:invalid:focus{
    outline: 1px solid $red-700;
  }


@media screen and (max-width: 767px){
    .variant-list select{
        width: 100%;
    }
    .detail-parameters{
        width: 100%;
    }
}
@media screen and (max-width: 500px){

}


#simple-variants{
    
}
.advanced-parameter{
    position: relative;
    padding: 5px;
    margin: 0;

    input{
        -webkit-appearance: none;
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    &:hover{
        .advanced-parameter-tooltip{
            display: flex;

            &::after{
                content: "";
                display: flex;
                height: 8px;
                width: 8px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%) rotate(45deg);
                background: $black;
            }
        }
    }
}
.advanced-parameter-tooltip{
    display: none;
    position: absolute;
    font-size: 12px;
    white-space: nowrap;
    background: $black;
    color: $white;
    left: 50%;
    top: 0;
    transform: translate(-50%, -24px);
    padding: 2px 5px;
    z-index: 1;

    &::after{
        display: none;
    }
}
.variant-default{
    display: none;
}
.advanced-parameter .parameter-value{
    display: none;
}
.advanced-parameter-inner{
    display: flex;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    position: relative;

    cursor: pointer;
}
.advanced-parameter-inner[style="background-color: #ffffff"]{
        border: 1px solid $gray-400;
}
.advanced-parameter-inner.yes-before{
    border-color: $green-500;
}
.advanced-parameter-inner.yes-before::after{
    content: "";
    background-image: url("../icons/check.svg");
    background-position: center center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.add-to-cart{
    display: flex;
    width: 100%;
    order: 40;
    padding: 0px;
}
.add-to-cart .quantity{
    margin-right: 10px;
    position: relative;
    max-width: 140px;

    overflow: hidden;
}
.add-to-cart .amount{
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    width: 100%;
    border: 0;
    background: $white;
    text-align: center;
    font-weight: 500;
    border: 1px solid $gray-300;
    border-radius: $border-radius-primary;
}
.add-to-cart .increase, .add-to-cart .decrease{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;

    &::before, &::after{
        content: "";
        background: $black;
        height: 2px;
        width: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &::after{
        height: 10px;
        width: 2px;
    }
    &:hover, &:active, &:focus{
        background: transparent;
    }
}
.add-to-cart .decrease{
    left: 0px;
    right: auto;
    &::after{
        content: none;
    }
}
.add-to-cart .add-to-cart-button{
    padding: 0 50px;
    padding-left: 82px;
    height: 58px;
    font-size: 16px;
    position: relative;
    flex-direction: row;
}
.add-to-cart .add-to-cart-button::before{
    content: "";
    height: 20px;
    width: 20px;
    background-image: url($i-shopping-bag-white);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: contain;
    margin-right: 15px;
}
.p-short-description{
    order: 10;
    font-size: 14px;
    padding-bottom: 30px;
    color: $gray-500;
    font-weight: 400;
}
.p-short-description p{
    margin-bottom: 0px;
}
.social-buttons-wrapper{
    display: none;
}

.p-gifts-wrapper{
    order: 50;
    padding-top: 20px;
}
.p-gifts-heading{
    font-weight: 600;
    padding: 10px 0;
}
.p-gift{
    display: flex;
    align-items: center;
    border: 1px solid $gray-400;
    padding: 10px;
}
.p-gift-image{
    height: 60px;
    width: 60px;
}
.p-gift-name{
    padding-left: 10px;
}
.p-gift-name a{
    font-size: 14px;
    color: $gray-800;

    &:hover, &:active, &:focus{
        text-decoration: none;
    }
}
.p-gift-name a span{
    font-size: 14px;
    color: $red-700;
    display: flex;
}

.p-detail-tabs-wrapper .responsive-nav{
    display: flex;
    margin-top: 0px;
}
.p-detail-tabs-wrapper .responsive-nav .navigation-btn{
    display: none;
}
    

@media screen and (max-width: 991px){
    .p-detail-inner-header{
        padding-bottom: 20px;
    }
    .availability-value{
        margin-bottom: 20px;
    }
    .p-detail-inner-header h1 {
        font-size: 24px;
        margin: 0;
    }
    .p-short-description{
        display: none;
    }
    .p-short-description + p{
        display: none;
    }
    .p-detail-tabs-wrapper .responsive-nav{
        display: none;
    }
    .add-to-cart .add-to-cart-button{
        padding: 0 20px;
        flex-grow: 1;
    }
}


@media screen and (min-width: 992px){
    .p-detail-tabs-wrapper .responsive-nav{
        position: sticky;
        top: 0;
        z-index: 1;
    }
}


.p-detail-tabs-wrapper{

    .shp-tabs-holder{
        width: 100%;
        background: $white;
        border-bottom: 1px solid $gray-300;
        margin-bottom: 20px;
    }
    .p-detail-tabs li{
        position: relative;

        &.active{
       
            
            a{
             
            }
        }
    }  
    .p-detail-tabs a{
        padding: 12px 20px;  
        display: flex;
        color: $gray-900;
        font-weight: 500;
        font-size: 15px;

        &:hover, &:active, &:focus{
            text-decoration: none;
            color: $gray-800;
            background: $gray-100;
        }
    }
    .navigation-btn{
        display: none !important;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }
    li{

    }
    a{
  
    }

    .detail-parameters{
        font-size: 14px;
        display: table;
        width: 100%;
        
        tr{
            height: 30px;
            padding: 5px;
        }
        tr:nth-child(odd){
            background: $gray-100;
        }
        th{
            color: $gray-900;
            padding-right: 10px;
            padding: 5px;
            font-weight: 400;
        }
        td{
            color: $gray-900;
            padding: 5px;
        }
    }
}




#cboxContent{
    text-align: center;
}
#cboxPrevious, #cboxNext{
    font-size: 0;
    display: flex;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: $white;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    border: 0;
    -webkit-appearance: none;
    background-image: url($i-arrow-left);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    cursor: pointer;
}
#cboxNext{
    left: auto;
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
}
#cboxCurrent{
    display: none;
    opacity: 0;
}


.description-inner{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 80px;
}
.basic-description{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.basic-description > h3, .basic-description > .rte > h2, .extended-description > h3{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-bottom: 15px;
    color: $gray-900;
    width: 100%;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 6px;
        width: 40px;
        background: $red-500;
    }
}
.basic-description ul{
    list-style: circle;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;
}
.basic-description > .rte > h2{
    display: flex;
    strong{
        font-weight: 600;
    }
    *{
        color: $gray-800 !important;
        font-size: 24px;
    }
    br{
        display: none;
    }
}
.extended-description{
    display: flex;
    flex-wrap: wrap;
    order: 0;
    margin-bottom: 60px;
    flex-direction: column;
}


@media screen and (min-width: 992px){
    
    .description-inner {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 80px;
    }
}
.p-detail-tabs-wrapper .tab-content{
    display: flex;
    flex-direction: column;

    #description{
        order: 10;
    }
    #productsRelated{
        order: 20;
        margin-bottom: 20px;
    }
    #productVideos{
        order: 30;
        margin-bottom: 60px;
    }
  }
  


#jsUnavailableCombinationMessage{
    margin: 0;
    padding: 10px;
    background: $pink-200;
    text-align: center;
    color: $pink-800;
    font-size: 14px;
    a{
        color: $gray-800;
    }
}

#relatedFiles, .shp-tab-link[href="#relatedFiles"]{
    display: none !important;
} 
#relatedFiles{
    flex-wrap: wrap;
}
#relatedFiles li{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}


#productsRelated .products-related-header{
    font-size: 30px;
    margin-bottom: 20px;
}



