.products-block{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-gap: 40px 20px;
    margin: 0;
    position: relative;
}
.in-index .products.products-block{
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
}
.in-index .products.products-block > .product:nth-child(n+5){
    display: none;
}
.in-index .products.products-block.swiffy-slider {
    display: flex;
}
.in-index .products.products-block.swiffy-slider .slider-container{
    padding: 0;
}

.spinner-visible .products-block::after{
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
}

@media screen and (max-width: 991px){
    .products-block{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    .in-index .products.products-block{
        overflow-x: auto;
        padding-left: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-right: 1px;
    }
    .in-index .products.products-block{
        
        .product {
            width: 280px;
        }
    }
    .in-index .products.products-block.swiffy-slider {
        width: 100%;
        padding: 0;
    }
    .in-index .products.products-block.swiffy-slider .slider-container{
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: auto;
        scroll-snap-type: none;
        outline: none;

    }
}
@media screen and (max-width: 768px){
    .products-block{
        grid-template-columns: 1fr 1fr;

        .product {
            width: 100%;
        }
    }
    .in-index .products.products-block{
        margin-bottom: 60px;
        
        .product {
            width: 280px;
        }
    }
    .in-index .products.products-block.swiffy-slider .slider-container{
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: auto;
        scroll-snap-type: none;
    }
}

@media screen and (max-width: 500px){
    .products-block{
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-gap: 10px;

        .product {
            width: 100%;
        }
    }

    .in-index .products.products-block{
        display: flex;

        .product {
            width: 220px;
            min-width: auto;
        }
    }

    .in-index .products.products-block.swiffy-slider .slider-container{
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: auto;

        .product {
            
        }
    }
}