.ratingSection{
    padding: 80px 0;
    position: relative;
}
.ratingSection__btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

.ratingSection::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: $gray-100;
    display: flex;
    position: absolute;
    z-index: -1;
}

.ratingSection h1{
    text-align: center;
}
.ratingSection__content{
    padding-bottom: 0;
}
.ratingSection__content .slider-nav{
    left: -50px;
}
.ratingSection__content .slider-nav.slider-nav-next{
    right: -50px;
    left: auto;
}
.ratingSection .slider-container{
    padding: 10px;
    margin: 0 -10px;
    width: auto;
}
@media screen and (max-width: 1400px){
    .ratingSection__content .slider-nav{
        display: none;
    }
}
@media screen and (max-width: 991px){
    .ratingSection{
        padding: 60px 0;
    }
}
@media screen and (max-width: 575px){
    .ratingSection{
        padding: 40px 0;
    }
    .welcome h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
}
.vote-wrap{
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(52, 66, 81, 0.05);
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: $border-radius-primary;
}
.vote-header{
    order: 10;
    display: flex;
}
.vote-content{
    order: 0;
    margin-top: 50px;
    overflow: hidden;
    height: 92px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 150%;
}
.vote-pic{

}
.vote-pic img{
    display: none;
}
.vote-initials{
    background: rgba(196, 8, 8, 0.5);
    border-radius: 999px;
    height: 46px;
    width: 46px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 18px;
}
.vote-summary{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    line-height: 1;
    justify-content: center;
}
.vote-name{
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 10px;
}
.vote-rating{

}
.vote-rating .stars{
    position: absolute;
    top: 50px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.stars .star {
    height: 24px;
    width: 24px;
    display: flex;
    background-image: url("../icons/star-empty.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
}
.stars .star.star-on {
    background-image: url("../icons/star-full.svg");
}
.vote-delimeter{
    display: none;
}
.vote-rating .vote-time{
    font-weight: 400;
    font-size: 14px;
    color: #6F6F6F;
    display: flex;
    align-items: center;
}

.vote-rating .vote-time::before{
    content: "";
    background-image: url("../icons/calendar.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    height: 14px;
    width: 14px;
    margin-top: -3px;
    margin-right: 6px;
}


.in-hodnoceni-obchodu-2 {

    .breadcrumbs-wrapper{
        background: #fff;
    }
    .content-inner header::before{
        content: "";
    }
    .content-inner h1{
        text-align: center;
        margin-top: 80px;
        padding-top: 40px;
        font-size: 0;
        margin-bottom: 40px;
    }
    .content-inner h1::before{
        content: "Nakoupilo u nás už více jak 50 tisíc automobilových nadšenců.";
        font-size: 32px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .content-inner h1::after{
        content: "Tohle o nás řekli";
        font-size: 32px;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-top: 10px;
    }
    .votes-wrap{
        /*
        column-count: 3;
        gap: 20px;
        */
        margin-bottom: 0px;
        position: relative;
        background: transparent;
        padding: 80px 0 40px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding-top: 0;
        display: block;
    }
    .votes-wrap::before{
        content: "";
        top: 60px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: auto;
        background: #F9f9f9;
        display: flex;
        position: absolute;
        z-index: -1;
    }
    .vote-wrap{
        width: calc( 33.333% - 20px);
        margin-bottom: 30px;
    }
    .vote-content{
        height: auto;
    }
    .pagination {
    position: relative;
     padding-bottom: 40px;
    }
    .pagination::before{
        content: "";
        top: 0px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: auto;
        background: #F9f9f9;
        display: flex;
        position: absolute;
        z-index: -1;
    }
}
@media (max-width: 991px){
    .in-hodnoceni-obchodu-2 .vote-wrap{
        width: calc( 50% - 20px);
        margin-bottom: 30px;
    }
    .in-hodnoceni-obchodu-2 .content-inner h1 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .in-hodnoceni-obchodu-2 .content-inner h1::before{
        font-size: 28px;
    }
    .in-hodnoceni-obchodu-2 .content-inner h1::after {
        font-size: 28px;
    }
}
@media (max-width: 575px){
    .in-hodnoceni-obchodu-2 .vote-wrap{
        width: 100%;
        margin-bottom: 20px;
    }
}








#ratingWrapper{

    padding: 50px 40px;
    margin-bottom: 60px; 
}
#ratingWrapper .rate-wrap{

}
#ratingWrapper .rate-average-wrap{

}
#ratingWrapper .rate-average-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
#ratingWrapper .rate-average-inner .rate-average{
    font-weight: 500;
    font-size: 60px;
    line-height: 1;
    padding-bottom: 15px;
}
#ratingWrapper .rate-average-inner .rate-star-wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#ratingWrapper .rate-average-inner .stars{
    display: flex;
}
#ratingWrapper .rate-average-inner .star{
    
}
#ratingWrapper .rate-average-inner .stars-label{
    font-size: 14px;
    color: $gray-500;
    padding-top: 5px;
}

#ratingWrapper .add-comment{
    display: none;
}




#ratingWrapper .rate-wrap .col-sm-6:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#ratingWrapper .rate-list{
    display: flex;
    position: relative;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    padding: 5px 0;
}
#ratingWrapper .rate-list .rate-star{
    display: flex;
    margin-right: 10px;
    align-items: center;
}

#ratingWrapper .rate-list .rate-block {
    display: flex;
    flex-grow: 1;
    background: $gray-100;
    height: 10px;
    margin-right: 40px;
    border-radius: 5px;
}
#ratingWrapper .rate-bar{
    display: flex;
    border-radius: 5px;
}
#ratingWrapper .rate-list[data-score="5"] .rate-bar {
    background: #fadb14;
}
#ratingWrapper .rate-list[data-score="4"] .rate-bar{
    background: #fadb14;
}
#ratingWrapper .rate-list[data-score="3"] .rate-bar {
    background: #fadb14;
}
#ratingWrapper .rate-list[data-score="2"] .rate-bar {
    background: #fadb14;
}
#ratingWrapper .rate-list[data-score="1"] .rate-bar {
    background: #fadb14;
}
#ratingWrapper .rate-list .rate-count{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
}
#ratingWrapper .rate-list .rate-value{
    display: flex;
    width: 10px;
    margin-right: 5px;
    align-items: center;
    line-height: 1;
}
#ratingWrapper .rate-list .star-off{
    background-image: url("../icons/star-full.svg");
    height: 18px;
    width: 18px;
}