.search-results-groups{
    padding-top: 60px;
}
.search-results-group{

}
.search-results-group h4{
    
}
.search-results-group-list{

}
.search-results-group-list ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.search-results-group-list li{

}
.search-results-group-list a{

}

.search-results{
    padding-top: 60px;
}
.search-products-heading{
    margin-bottom: 30px;
}
.search-results .products-block{

}