.type-search{

}
.type-search #content > h2{
    position: relative;
    display: flex;
    font-size: 36px;
    font-weight: 500;
    padding: 40px 0 40px 0;
    margin: 0px;
    color: $gray-1000;
}
.search-results-groups{

}
.search-results-group{
    padding-top: 20px;
}
.search-results-group h4{
    margin-bottom: 30px;
}
.search-results-group-list{

}
.search-results-group-list ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.search-results-group-list li{

}
.search-results-group-list a{

}

.search-results{
    padding-top: 60px;
}
.search-products-heading{
    margin-bottom: 30px;
}
.search-results .products-block{

}