.sidebar{
    width: 25%;
    padding-right: 10px;
}
@media screen and (max-width: 991px){
    .sidebar{
        display: none;
    }
}

.sidebar-inner{

}
.sidebar-inner .box{

}
.sidebar-inner .box > h4{
    
}