.messages{
    position: fixed;
    top: 20px;
    right: 20px;
}
.messages .msg{
    padding: 20px;
    background: white;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    max-width: 520px;
}
.messages .msg.msg-success{
    background: $teal-500;
    color: white;
}
.messages .msg.msg-success::before {
    content: "";
    display: flex;
    height: 16px;
    width: 16px;
    margin-right: 0px;
    background-image: url("../icons/check-circle-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    margin-right: 10px;
}
.messages .msg .container{
    padding: 0;
}
.messages .msg a{
    color: $red-500;
}
.messages .msg.msg-success a{
    color: white;
}

@media screen and (max-width: 991px){
    .messages{
        position: fixed;
        top: 54px;
        bottom: auto;
        right: 3px;
        left: 3px;
        z-index: 99999;
    }
}


.site-msg.information{
    background: $purple-100;
    color: $purple-500;
    padding: 8px 12px;
    font-size: 14px;
    order: 2;
    width: calc(100vw - 20px);
    max-width: 1300px;
    margin: 20px auto 0 auto;
    border-radius: $border-radius-primary;
}
.site-msg.information .container{
    max-width: 100%;
    text-align:center;
    padding: 0;
}
@media screen and (max-width: 991px){
    .site-msg.information{
        line-height: 1.3;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
}
