.top-navigation-bar{
    display: flex;
    height: 36px;
    background: $gray-100;
    /*display: none;*/
    font-size: 13px;
}
.top-navigation-bar .container{
    display: flex;
}
.top-navigation-contacts{
    align-items: center;
    display: flex;
    flex-grow: 1;

}
.top-navigation-contacts strong{
    color: $gray-1000;
    padding-right: 5px;
    font-weight: 400;
}
.top-navigation-contacts a{
    padding-right: 15px;
}
.top-navigation-menu{
    align-items: center;
    display: flex;
}
.top-navigation-menu li{
    display: inline-block;
    padding: 0 0 0 15px;
}
.top-navigation-menu li a{
    color: $gray-1000;
}
.top-navigation-bar-menu{
    margin: 0;
}
.top-navigation-menu-trigger{

}
.top-navigation-bar-menu-helper{
    margin: 0;
    padding: 0;
}
.top-navigation-tools{
    text-align: right;
    display: none;
}
.top-nav-button-login{
    color: $gray-1000;
    padding-left: 10px;
}
.top-navigation-contacts {
    font-weight: 400;
}
.top-navigation-contacts .project-phone, .top-navigation-contacts .project-email{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-1000;
    font-weight: 400;

    &::before{
        content: "";
        width: 14px;
        height: 14px;
        background-image: url($i-phone);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        margin-right: 5px;
    }
}

.top-navigation-contacts .project-email::before{
    background-image: url($i-envelope);
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 991px){
    .top-navigation-bar{
        display: none;
    }
}