.homepage-box.welcome-wrapper{
    padding: 0px 0;
}
.welcome-wrapper{
    
}
.welcome{

}
.welcome > h1{
    display: none;
}
.welcome h1{
    font-size: 30px;
    margin-bottom: 40px;
}
.welcome p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.welcome-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 575px) {
    .welcome h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
}
