.instagram-footer{
   background: $white;
    padding: 60px 0 60px 0;
    position: relative;
    z-index: 2;
}
.instagram-footer::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: $white;
    display: flex;
    position: absolute;
    z-index: -1;
}
.instagram-footer h1{
    font-size: 30px;
    text-align:center;
    margin-bottom: 20px;
}
.instagram-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.instagram-item{
    padding-bottom: 100%;
    position: relative;
}
.instagram-item img{
   position: absolute;
    height: 100%;
    object-fit: cover;
    width: 100%
}
@media screen and (max-width: 991px){
    .instagram-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 575px){
    .instagram-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .instagram-footer h1{
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.social-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 40px;
}
.social-footer a{
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 80px;
    color: $gray-900;
    border: 1px solid $gray-300;
    transition: 0.2s ease box-shadow;
    
    &:hover{
        box-shadow: 0px 4px 8px rgba(0,0,0,0.08);
    }
}
.social-footer a img{
    margin-right: 20px;
}

@media screen and (max-width: 575px){
    .social-footer{

    }
    .social-footer a{
        font-size: 0;
        height: 60px;
        padding: 12px;
    }
    .social-footer a img{
        margin-right: 0px;
    }
}