/* -------------------------------------------------------------------------- */
/* SEARCH */
/* -------------------------------------------------------------------------- */
$i-search: "../icons/search.svg";
$i-search-white: "../icons/search-white.svg";

/* -------------------------------------------------------------------------- */
/* USER */
/* -------------------------------------------------------------------------- */
$i-user: "../icons/user.svg";
$i-user-white: "../icons/user-white.svg";
/* -------------------------------------------------------------------------- */
/* CART */
/* -------------------------------------------------------------------------- */
$i-cart: "../icons/cart.svg";
$i-cart-white: "../icons/cart-white.svg";

/* -------------------------------------------------------------------------- */
/* SHOPPING BAG */
/* -------------------------------------------------------------------------- */
$i-shopping-bag: "../icons/shopping-bag.svg";
$i-shopping-bag-white: "../icons/shopping-bag-white.svg";

/* -------------------------------------------------------------------------- */
/* PHONE */
/* -------------------------------------------------------------------------- */
$i-phone: "../icons/phone.svg";
$i-phone-white: "../icons/phone-white.svg";

/* -------------------------------------------------------------------------- */
/* MICROPHONE */
/* -------------------------------------------------------------------------- */
$i-microphone: "../icons/microphone.svg";

/* -------------------------------------------------------------------------- */
/* ENVELOPE */
/* -------------------------------------------------------------------------- */
$i-envelope: "../icons/envelope.svg";
$i-envelope-white: "../icons/envelope-white.svg";

/* -------------------------------------------------------------------------- */
/* STAR */
/* -------------------------------------------------------------------------- */

$i-star-full: "../icons/star-full.svg";
$i-star-empty: "../icons/star-empty.svg";

/* -------------------------------------------------------------------------- */
/* PLUS CIRCLE */
/* -------------------------------------------------------------------------- */

$i-plus-circle-green: "../icons/plus-circle-green.svg";
$i-minus-circle-gray: "../icons/minus-circle-gray.svg";

/* -------------------------------------------------------------------------- */
/* ARROW */
/* -------------------------------------------------------------------------- */

$i-arrow-left: "../icons/arrow-left.svg";
$i-arrow-left-white: "../icons/arrow-left-white.svg";
$i-arrow-right-white: "../icons/arrow-right-white.svg";
$i-arrow-down: "../icons/arrow-down.svg";

/* -------------------------------------------------------------------------- */
/* CHECK */
/* -------------------------------------------------------------------------- */

$i-check-white: "../icons/check-white.svg";

/* -------------------------------------------------------------------------- */
/* HOME */
/* -------------------------------------------------------------------------- */

$i-home: "../icons/home.svg";

/* CLOSE */
/* -------------------------------------------------------------------------- */

$i-close: "../icons/close.svg";